@charset "utf-8";

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
html,
body {
  width: 100%;
  height: 100%;
}

#wrap {
    position: relative;
    min-height: 3400px;
    width: 100%;
    height: 375%;
    background-color: transparent;
  }

.slide {
    position: fixed;
    width: 500%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    display: flex;

}

.s_box {
    width: 100%;
    height: 100%;
    display: flex;
}


.s_box .s_img {
    width: 50%;
    height: 100%;
    background-color: bisque;
    overflow: scroll;
}

.s_img::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.s_box .s_img img {
    width: 100%;
}


.s_box .s_txt {
    margin-left: 3%;
}

.s_box .s_txt h2 {
    margin-top: 20%;
    font-size: 2.7em;
    line-height: 1.1em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #333;
}

.s_box .s_txt h3 {
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 9%;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-weight: 100;
}