@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: sans-serif;
  display: flex;
  flex-flow: row nowrap;
  color: #333;
}

.menu {
  width: 10%;
  height: 100%;
  background-color: transparent;
  z-index: 100000;
  border-right: 1px  rgba(102, 102, 102) solid;
  background-color:  rgba(102, 102, 102, 0.05);;
}

.menu .icon {
  width: 65%;
  height: 10%;
  margin: 40px auto;
}
.menu .icon img {
  width: 100%;
}

.menu ul {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.menu ul li {
  font-size: 0.8em;
  margin-top: 10%;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

#wrap {
  position: relative;
  top: 0px;
  z-index: 9;
  width: 90%;
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
  position: relative;
}
.cursor {
  position: absolute;
  width: 150px;
  height: 10px;
  background-color: #333;
  z-index: 99;
  cursor: none;
  opacity: 1;
}

.quick {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100000;
}

.quick ul li {
  width: 5px;
  height: 25px;
  transform: rotate(50deg);
  margin-bottom: 10px;
  background-color: #eee;
  border: 1px solid rgba(102, 102, 102);
  cursor: pointer;
}

.quick .on {
  background: #333;
}


/*--- page1 시작 ---*/
.page1 {
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page1 .p1_wr {
  width: 100%;
  top: 0;
  position: relative;
}

.page1 .p1_wr ul{
  position: absolute; /*ul 2개를 같은 곳에 위치하도록*/
  color: transparent;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  top: 30%;
  left: 50%;
  font-weight: 900;
  font-size: 7.5em;
  line-height: 120px;
}

.page1 .p1_wr ul:nth-child(1) {
  -webkit-text-stroke: 1px #333;
}

.page1 .p1_wr .p1_txt_mask{
  position: relative;
  height: 130px;
  overflow: hidden;
}

.page1 .p1_wr .p1_txt_mask_in{
  color: rgb(49, 49, 49);
  background-color: #eee;
}

.p1_scroll {
  position: absolute;
  bottom: 0;
  animation: p1scroll 2s ease-in-out infinite;
  cursor: pointer;
}

.p1_scroll a img {
  width: 80%;
}
@keyframes p1scroll {

  0% ,100% {
    bottom: 30px;
  }

  50% {
    bottom: 0px;
  }
}




/*--- page2 시작 ---*/
.page2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.page2 .p2_box1 {
  width: 35%;
  height: 100%;
  background-color: transparent;

}

.page2 .p2_box1 > div {
  height: 50%;
  margin: 30% 0;
  background-image: url("../img/selfie.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.page2 .p2_box2 {
  margin-left: 5%;
  width: 60%;
  height: 100%;
  background-color: transparent;
}

.page2 .p2_box2 > div {
  width: 90%;
  height: 70%;
  margin: 15% auto;
  background-color: transparent;
}

.page2 .p2_box2 > div > p {
  font-size: 3.7em;
  line-height: 1.1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #333;
}

.page2 .p2_box2 > div > div {
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.page2 .p2_box2 > div > div > ul {
  height: 100%;
}

.page2 .p2_box2 > div > div > ul li:nth-of-type(odd) {
  margin-top: 2%;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
}

.page2 .p2_box2 > div > div > ul li:nth-of-type(even) {
  margin-top: 2%;
  text-transform: uppercase;
  display: none;
}

.page2 .p2_box2 > div > div > ul li:nth-of-type(even) p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
  font-size: 1em;
  margin-left: 3%;
}


.page2 .p2_box2 > div > div > ul li span {
  border-bottom: 1px solid #ddd;
}



/*--- page3 시작 ---*/


.page3 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.page3 .p3_wr {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  display: flex;
}

.page3 .p3_wr .p3_on {
  width: 30%;
  height: 100%;
  text-align: right;
}
.page3 .p3_wr .p3_on > div{
  width: 100%;
  height: 1px;
  position: relative;
  top: 50%;
  background-color: black;
  text-transform: uppercase;
}

.page3 .p3_wr .p3_list {
  width: 70%;
  height: 100%;
}

.page3 .p3_wr .p3_list ul{
  margin-top: 10%;
  width: 90%;
  height: 100%;
 /*ul 2개를 같은 곳에 위치하도록*/
  color: transparent;
  white-space: nowrap;
  left: 35%;
  font-weight: 900;
  font-size: 5em;
  text-align: right;
  font-style: italic;
  -webkit-text-stroke: 1px #333;
}

.page3 .p3_wr ul li {
  width: 100%;
}
.page3 .p3_wr ul li span {
  cursor: pointer;
}

.page3 .p3_wr ul li span:nth-of-type(2) {
  display: none;
  font-size: 0.7em;
  line-height: 80px;
}



/*--- page4 시작 ---*/
.page4 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.page4 hr {
  margin-top: 50vh;
}

.page4 .p4_box {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.page4 .p4_box .p4_box_in {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: relative;
}

.page4 .p4_box .p4_box_in .sub_go {
  position: absolute;
  width: 529px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.762);
  transform: translate(-50%,-50%);
  top: 43%;
  left: 49.8%;
  z-index: 1000;
  text-align: center;
}

.page4 .p4_box .p4_box_in .sub_go a {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 2.5em;
}


.page4 .p4_box .p4_box_in .p4_box_img {
  position: absolute;
  width: 625px;
  height: 350px;
  background-color: transparent;
  transform: translate(-50%,-50%);
  top: 42%;
  left: 49.8%;
  overflow: hidden;
  display: flex;
  z-index: 999;
}

.page4 .p4_box .p4_box_in .p4_box_img >.img1 {
  width: 33.3%;
  height: 100%;
  background-image: url("../img/서울문화재단.png");
  background-size: cover;
  background-position: 0 0px;
}

.page4 .p4_box .p4_box_in .p4_box_img >.img2 {
  width: 33.3%;
  height: 100%;
  background-image: url("../img/Daniel\'s\ Truth_main.png");
  background-size: cover;
  background-position: 0 -50px;
}

.page4 .p4_box .p4_box_in .p4_box_img >.img3 {
  width: 33.3%;
  height: 100%;
  background-image: url("../img/04.김소리_main.jpg");
  background-size: cover;
  background-position: 0 -100px;
}

.page4 .p4_box .p4_box_in img {
  height: 700px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 55%;
  left: 50%;
}



/*--- page5 시작 ---*/
.page5 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: transparent
}

.page5 h3 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  margin: 8% 0 4%;
}
.page5 .line {
  width: 1px;
  height: 15%;
  background-color: black;
  margin: 0 auto;
}

.page5 .p5_box {
  margin: 0 auto;
  width: 90%;
  display: flex;
}


.page5 .p5_box div {
  width: 33.3%;
  text-align: center;
  font-size: 1.3em;
  color: #555;
}

.page5 .p5_box div img {
  margin-top: 20%;
  width: 15%;
}

.page5 .p5_box div a {
  margin-top: 8%;
}

.page5 .p5_box div p {
  margin-top: 8%;
}